<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Issue13.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>279CAC261963C83400B34616</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>279CAC391963C83400B34616</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>279CAC601963C8EF00B34616</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>279CAC721963C8EF00B34616</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
